<img
  class="brand-mark-img"
  src="/hydra-logo.svg"
  width="180"
  height="180"
  alt=""
  decoding="async">
<span class="brand-name">hydra</span>
{% if showBrandVersion %}
<span class="brand-version" data-github-release data-current-version-label aria-label="Current version {{ site.githubReleaseFallback }}">{{ site.githubReleaseFallback }}</span>
{% endif %}
